In [14]:
import pickle 
import pandas as pd

In [17]:
rnf=pickle.load(open(r"C:\Users\anjip\Downloads\anji (1)\Eswar\project_EAP\final_prediction.pickle","rb"))

In [3]:
model=pd.read_csv("C:/Users/anjip/Downloads/test.csv")

In [4]:
model

,satisfaction_level,last_evaluation,number_of_projects,average_monthly_hours,years_at_company,work_accident,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,0,1,1
1,0.80,0.80,1,165,2,0,0,2,2
2,0.45,0.90,3,250,4,0,1,4,2

In [5]:
print(rnf.predict(model))

[1 0 0]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:402: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [6]:
d={}

In [7]:
d['satisfaction_level']=0.38
d['last_evaluation']=0.53
d['number_of_projects']=2
d['average_montly_hours']=157
d['years_at_company']=3
d['work_accident']=0
d['promotion_last_5years']=0
d['department']=7
d['salary']=1

In [9]:
d

{'satisfaction_level': 0.38,
 'last_evaluation': 0.53,
 'number_of_projects': 2,
 'average_montly_hours': 157,
 'years_at_company': 3,
 'work_accident': 0,
 'promotion_last_5years': 0,
 'department': 7,
 'salary': 1}

print(model.predict(f))

In [11]:
g=pd.DataFrame(d,index=[0])

In [12]:
g

,satisfaction_level,last_evaluation,number_of_projects,average_montly_hours,years_at_company,work_accident,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,0,7,1

In [13]:
model

,satisfaction_level,last_evaluation,number_of_projects,average_monthly_hours,years_at_company,work_accident,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,0,1,1
1,0.80,0.80,1,165,2,0,0,2,2
2,0.45,0.90,3,250,4,0,1,4,2